<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
    <h1>ABOUT</h1>
    <div class="container">
        <div class="image-container">
            <img class="image" src="../static/images/Tilio.jpg" alt="Image de Tilio">
            <div class="text text1">Tilio(GOAT)</div>
        </div>
        <div class="image-container">
            <img class="image" src="../static/images/simon.jpg" alt="Image de Simon">
            <div class="text text2">Simon</div>
        </div>
        <div class="image-container">
            <img class="image" src="../static/images/PA.jpg" alt="Image de PA">
            <div class="text text3">PA</div>
        </div>
    </div>
</body>
</html>
