<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <h1>Identifiez vous </h1>
    <div id="text-container">
        <p id="my-text"> </p>
    </div>
    <form action="/connect" method="POST">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="mdp" id="mot de passe" placeholder="Mot de passe" required>
        <input type="submit" value="Envoyer">
    </form>
    <button onclick="navigateToLogin()">Invitez</button>
    <button onclick="navigateToSignUp()">SignUp</button>
    <script>
        function navigateToSignUp() {
            window.location.href = "/SignUp";
        }
        function navigateToLogin() {
            window.location.href = "/page2";
        }
    </script>
</body>
</html>