<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCUEIL</title>
</head>
<body>
    <h1>ACCUEIL</h1>
    <button onclick="navigateToPage2()">Invitez</button>
    <form action="/savedata" method="POST">
        <input type="text" name="prenom" id="prenom" placeholder="Prénom" required>
        <input type="text" name="nom" id="nom" placeholder="Nom" required>
        <input type="password" name="mdp" id="mot de passe" placeholder="Mot de passe" required>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="number" name="tel" id="tel" placeholder="Numéro de téléphone" required>
        <input type="submit" value="Envoyer">
    </form>
    <script>
        function navigateToPage2() {
            window.location.href = "/page2";
        }
    </script>
</body>
</html>
