<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/produits.css">
    <title>Nos Produits</title>
</head>
<body>
<form action="/produits" method="GET">
    <h1>Liste des Produits</h1>
    <ul>
        {% for produit in liste %}
            <li>
                <h2>{{ produit.nom }}</h2>
                <p class="description">Description : {{ produit.description }} </p>
                <p class="prix">Prix : {{ produit.prix }} €</p>
            </li>
        {% endfor %}
    </ul>
</form>
</body>
</html>
